.exercise_group_table {
    margin: 50px 0px 50px 0px;
    margin-bottom: 50px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(107, 107, 107);
    padding: 20px;    
    table {        
        width: 100%;        
    }
}